<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ipaddr" value="192.168.155.8"/>
    <add key="port" value="13000"/>
    <add key="localaddr" value="192.168.155.8"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
